# Create a series object from a python list

In [2]:
import pandas as pd
%config Completer.use_jedi = False

In [4]:
ice_cream = ['Chocolate', 'Mango', 'Vanilla', 'Coffee']

pd.Series(ice_cream)

0    Chocolate
1        Mango
2      Vanilla
3       Coffee
dtype: object

In [5]:
nums = [1,5,8,9,7]

pd.Series(nums)

0    1
1    5
2    8
3    9
4    7
dtype: int64

In [6]:
reg = [True,False,False,False,True]

In [7]:
pd.Series(reg)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series object from Python Dictionary

In [8]:
webster = {'Dog':'An animal', 'Banana':'A fruit', 'Cyan': 'A color'}
pd.Series(webster)

Dog       An animal
Banana      A fruit
Cyan        A color
dtype: object

## Intro to Attributes

In [11]:
about_me = ['Smart','Humble','Friendly','Interesting','Hardworking']

s = pd.Series(about_me)

s

0          Smart
1         Humble
2       Friendly
3    Interesting
4    Hardworking
dtype: object

In [12]:
s.values

array(['Smart', 'Humble', 'Friendly', 'Interesting', 'Hardworking'],
      dtype=object)

In [13]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
s.dtype

dtype('O')

## Intro to Methods

In [20]:
prices = [1.2,2.99,4.36]
s = pd.Series(prices)
s

0    1.20
1    2.99
2    4.36
dtype: float64

In [21]:
s.sum()

8.55

In [22]:
s.product()

15.643680000000002

In [23]:
s.mean()

2.85

## Parameters and Arguments

In [24]:
fruits = ['Apple','Orange','Banana','Mango','Plum']
weekdays = ['Mon','Tue','Wed','Thrus','Fri']

pd.Series(fruits,weekdays)

Mon       Apple
Tue      Orange
Wed      Banana
Thrus     Mango
Fri        Plum
dtype: object